/* ***** */
/* Image */
/* ***** */

.car-img {
  max-width: 400px;
  max-height: 225px;
  border-radius: 14px 14px 0px 0px;
}

.list-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}

.ind-wrap {
  border: 1px solid #2c3038;
  border-radius: 15px;
  box-shadow: 2px 2px 15px #1d2126;
  margin: 1rem;
}